div{
    justify-content: center;
    text-align: center;
    align-items: center;
    border: 10px;
    border-color: black;
    background-color: aliceblue;
    border-radius: 10px;
    width: 100%;
    margin: 10px;
}