img:hover {
    animation: gol 4s ease-in forwards infinite alternate;
}

@keyframes gol {
    0% {
        transform: translateX(0);
    }
    
    25% {
        transform: translateY(500px);
    }

    50% {
        transform: translateX(500px) translateY(500px);
    }

    75% {
        transform: translateX(500px);
    }

    100% {
        transform: translateX(0);
    }
}

img {
    width: 250px;
}

.container {
    width: 500px;
    height: 500px;
}
